.background {
    background-image: url('../public/moon.jpg');
    background-size: 90%;
    background-position: -350% 30%;
    /* background-position: right; */

}
body {
    background: rgb(101, 1, 1);
background: radial-gradient(circle, rgb(50, 4, 4) 100%, rgba(0,212,255,1) 100%, rgba(1,0,5,1) 100%);
}

.gradient{
    background-color: #3805c4;
background-image: linear-gradient(315deg, #a6a2cd 0%, #d0b2b2 74%);
}
.gradient1{
    background-color: #e7edf7;
background-image: linear-gradient(320deg, #205ebc 0%, #121111 34%);
}

.done{
    color: rgb(25, 204, 55);
}
.fail{
    color:rgb(235, 14, 14);
}
.day-headings{
    color: #049cbe;
}
.text-light {
    font-family: monospace, 'Montserrat', sans-serif;
    font-size: larger;
    
  }